node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
pocketbase/pb_data
pocketbase/pocketbase
pocketbase/pocketbase.exe
pocketbase/CHANGELOG.md
pocketbase/LICENSE.md
tsconfig.tsbuildinfo
